.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: transparent; }

.header {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0; }

.left-align {
  text-align: left; }

.form-control, .btn {
  border-radius: 0px;
  background-color: #5D5D5D;
  color: white;
  border: none; }

.navbar, .navbar-default {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  background-color: #000; }
  @media (min-width: 1200px) {
    .navbar .container, .navbar-default .container {
      max-width: 970px; } }

.navbar-default .navbar-nav > li:hover > a {
  color: white; }

.special-img {
  position: relative;
  top: -5px;
  float: left;
  left: -5px; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.jumbotron {
  background-image: url(/images/background.jpg);
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: 0; }

#signup-page p {
  font-family: serif;
  font-size: 1.3em; }
#signup-page .signup-tagline {
  text-align: center; }
#signup-page ::-webkit-input-placeholder {
  color: #FFF; }
#signup-page :-moz-placeholder {
  /* Firefox 18- */
  color: #FFF; }
#signup-page ::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF; }
#signup-page :-ms-input-placeholder {
  color: #FFF; }
#signup-page .form-control {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid white; }
#signup-page #signUp {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; }
#signup-page #signUpFace {
  background-color: #3B579E;
  width: 100%; }
@media (max-width: 992px) {
  #signup-page #signUpFace {
    margin-top: 1em; } }
#signup-page .container {
  min-width: 300px;
  max-width: 670px;
  text-align: left; }
#signup-page .logo-bg {
  margin-bottom: 10px;
  height: 100px; }
@media (max-width: 500px) {
  #signup-page .logo-bg {
    height: 100%;
    width: 100%; } }
#signup-page .header {
  width: 100%;
  position: absolute;
  top: 30px;
  right: -90px;
  background-color: transparent;
  text-align: right; }
  #signup-page .header .sign-up-nav {
    float: right;
    list-style-type: none; }
    #signup-page .header .sign-up-nav li {
      display: inline-block;
      margin: auto 1em; }
      #signup-page .header .sign-up-nav li a {
        color: white; }
  @media (max-width: 800px) {
    #signup-page .header .sign-up-nav {
      float: none;
      text-align: right; } }
@media (max-width: 800px) {
  #signup-page .header {
    position: absolute;
    right: 10px; } }
#signup-page .jumbotron {
  text-align: center;
  color: white; }
  #signup-page .jumbotron .about-blurb {
    color: white;
    font-size: 1.1em;
    margin: 4em 0; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  padding: 0; }

/* Custom page footer */
.footer {
  background-color: #000; }
  .footer .nav, .footer .navbar-nav {
    border: none; }
    .footer .nav li a, .footer .navbar-nav li a {
      color: #777; }
    .footer .nav li a:hover, .footer .navbar-nav li a:hover {
      color: #FFF;
      background-color: transparent; }
  .footer p, .footer a, .footer i {
    color: #FFF; }

.container-narrow > hr {
  margin: 30px 0; }

/*# sourceMappingURL=style.css.map */
